<!-- Footer EJS-->



  <footer style="font-family:lemonMilk">
    <div id="footerContainer">  
    <div class="container m-b-3 m-p-5 text-center" >

      <div class="col-md-12  text-center">
          <h3 >Contact</h3>
          <a href="mailto:mercillo729@gmail.com"><h5>mercillo729@gmail.com</h5></a>
          <div class="col-lg-4 col-lg-offset-4">
            <a href="http://www.github.com/mercillo"><img class="socialMediaLogo center" src="https://cdn4.iconfinder.com/data/icons/social-media-pro-icons/1080/Github-01-128.png"></img>
            </a>

            <a href="http://www.linkedin.com/pub/marlon-ercillo/96/575/580/en"><img class="socialMediaLogo center" src="https://cdn2.iconfinder.com/data/icons/social-18/512/LinkedIn-128.png"></img>
            </a>

            <a href="http://www.soundcloud.com/marky-ercillo"><img class="socialMediaLogo center" src="https://cdn1.iconfinder.com/data/icons/social-icon-1-1/512/social_style_1_soundCloud-128.png"></img>
            </a>


            <p class="h6">Copyright &copy; Mercillo 2018</p>
          </div>
        </div>


      </div>
      </div>
  </footer>