
<!-- header ejs-->
	<nav class="navbar navbar-inverse navbar-fixed-top" style="color:white">
		<div class="container "><!--Container of navbar-->

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navItem">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a href="#/" class="pull-left" id="MEBrand"></a>
				<a style="color:white" class="navbar-brand lemonMilk" href="/">Mercillo</a>

			</div>

			<!--Items on the right side-->
			<div class="collapse navbar-collapse" id="navItem">
				<ul class="nav navbar-nav navbar-right">
					<li  class="nav-item"> <a style="color:white" class="nav-link" href="/dj">Mixes</a></li>
					<li  class="nav-item"> <a style="color:white" class="nav-link" href="/apps">Apps</a></li>
					<li class="nav-item"> <a style="color:white" class="nav-link" href="/contact">Contact</a></li>
					<li class="nav-item"> <a style="color:white" class="nav-link" href="/">Resume</a></li>
				</ul>

		</div><!-- end of Container of Navbar-->

      <div id="navItem" data-spy="affix">
        <ul class="nav navbar-nav navbar-right collapse navbar-collapse ">

        </ul>
      </div>
     </div>
	</nav><!--Navbar end-->