<!--/partials/head.ejs -->

<meta charset="UTF-8">
   <title>Mercillo</title>

	
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet" type="text/css">
    <link src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/libs/reportcard/css/badges.css">
    <!--<script src="http://code.jquery.com/jquery-migrate-1.4.1.js"></script> -->
     <!-- Vendor: Javascripts -->
    <script src="/libs/jquery-1.12.4.min.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/libs/jquery.viewportchecker.js"></script>
    <script src="/libs/reportcard/js/reportcard.js"></script>  
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!--  <script src="javascript.js"></script> -->
    <!-- Vendor: Angular, followed by our custom Javascripts -->
    <script src="/libs/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>



    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90533692-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
<style>

        .PTSans{
            font-family: 'PT Sans', sans-serif;
        }

        .PTSansBold{
            font-family: 'PT Sans', sans-serif;
            font-weight:800;
        }

    body    { padding-top:50px; }

</style>
