<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <meta property="og:description" content="CADC 2017-2018 Sigma Year Roster" />
    
    <meta property="og:url"content="cadcuci.net/2017-2018Roster.jpg" />
    
    <meta property="og:title" content="CADC 2017-2018 Sigma Year" />
    <meta property="og:image" content="images/dc2017lol3.jpg" />

</head>
<body>

    <div class="container-fluid text-center">
        <img class="img-responsive" style="margin:0 auto" src="images/dc2017lol3.jpg">
    </div>

</body>
</html>