<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
        <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
              
                ga('create', 'UA-90533692-1', 'auto');
                ga('send', 'pageview','/contact');
              
              </script>
    </header>

    <!--
    <div class="container text-center">
        <div class="col-xs-12" style="padding-top:25%; padding-bottom:40%;">
            <h4> Coming Soon</h4>
        </div>
    </div>-->
    <div class="mixingContainer" style="padding-top:50px; padding-bottom:50px;">
        <div class="container">
            <div class="row" style="padding-bottom:30px">
                <div class="text-center">
                    <h4 class="text-center"><strong>Mix</strong></h4>
                    <p> Need a mix for an upcoming performance?</p>
                    <p> I've done mixes for CADC, Hall of Fame, Kings and Queens, TM Juniors, and multiple projects teams</p>
                    <p> Contact me for inquiries</p>
                    <a id="emailMe" href="mailto:mercillo729@gmail.com"><button type="button" class="btn btn-primary">Email Me</button></a>
                </div>
            </div>

                <div class="col-xs-12 col-sm-6">
                    <h4></h4>
                    <ul>
                        <li>1-2 week turnaround time</li>
                        <li>Up to 5 revisions</li>
                        <li>Censorship</li>
                        <li>UCI Team/Project? Ask for a special discount</li>              
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <h4><strong> Please include the following</strong></h4>
                    <ul>
                        <li>Team Name:</li>
                        <li>Event Name: (i.e. welcome week 2017, vibe, Urban streeet jam,etc)</li>
                        <li>Number of Songs in the mix:</li>
                        <li>Max length of mix:</li>
                        <li>Any personal preferences on transitions:</li>
                        <li>Any other questions or requests:</li>
                    </ul>
                    
                </div>
           
        </div>
    </div>
    <div class="djContainer" style="background-color:black; color:white; padding-top:50px;">
        <div class="container">
            <div class="row" style="padding-bottom:30px">
                <div class="text-center">
                    <h4 class="text-center"><strong>DJ</strong></h4>
                    <p> Need a DJ?</p>
                    <p> Club, Restaurants, Parties, Formals, Banquets</p>
                    <p> Contact me for inquiries</p>
                    <a id="emailMe" href="mailto:mercillo729@gmail.com"><button type="button" class="btn btn-primary">Email Me</button></a>
                </div>
            </div>    
            <div class="col-xs-12 col-sm-6">
                <h4></h4>
                <ul>
                    <li>Hip Hop, Throwbacks, Rnbs, Top 40</li>
                    <li>2 EV 12ZLX-P's (big enough for a banquet room of 100-150 people)</li>
                    <li>Lights included in base package</li>
                    <li>Zot Zot? Ask for a special discount</li>
                                          
                </ul>

            </div>            
                <div class="col-xs-12 col-sm-6">
                        <h4><strong> Please include the following</strong></h4>
                        <ul>
                            <li>Event Name:</li>
                            <li>Event Location:</li>
                            <li>Event Time:</li>
                            <li>When do I need to be there by:</li>
                            <li>Preferred Genre of music:(HipHop/Top40/Everything)</li>
                            <li>Any other questions or requests:</li>
                        </ul>
                </div>

            
        </div>
    </div>    
    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>