<!DOCTYPE html>
<html lang="en">
<head>

    
    <% include ../partials/head %>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/css/mdb.min.css" rel="stylesheet">

    <style>
        #devHeader{
            height:620px;
            width:100%;
            background-size:cover;
            background-attachment: fixed;
            background-image: url('/images/devHeaderImage.jpg');
            margin-top:-50px;
        }


        .textWhite{
            color:white;
        }

        .containerPlaceholder1{
            height:620px;
            width:100%;
            background-size:cover;
            background-color:white;
        }

        .containerPlaceholder2{
            height:620px;
            width:100%;
            background-size:cover;
            background-color:grey; 
        }
        

        .navbar {
            margin-bottom:0;
        }

        .navbar-inverse {
            background:transparent;
            border:0
        }

        .vertical-align {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left:20%;
        }
        
        .headerText{
           text-align:right;
        }
        #aboutMeButton{
            width:150px;
            height:50x;
            border:solid 2px white;
            border-radius:5px;
            background-color:transparent;
            color:white;
            margin:0 auto;
            margin-top:20px;
        }

        .PTSans{
            font-family: 'PT Sans', sans-serif;
        }

        .PTSansBold{
            font-family: 'PT Sans', sans-serif;
            font-weight:800;
        }

        #aboutSection{
            padding-top:50px;
            padding-bottom:50px;
        }

        #carouselButtons {
            margin-left: 100px;
            position: absolute;
            bottom: 0px;
        }
        .carousel-caption {
            position: absolute;
            left: auto;
            right: auto;
            width: 35%;
            height: 100%;
            opacity: 0.8;
            bottom:0;
            z-index: 100;
            right:10%;
        }
        #portfolioSection{
            background-color: #141414;
        }

        #appsSection{
            padding-top:50px;
            padding-bottom:50px;
        }

        .viewMeButton{
            width:100px;
            height:50x;
            border:solid 2px black;
            border-radius:5px;
            background-color:transparent;
            color:black;
            margin:0 auto;
            margin-top:20px;
        }

     
        @media (max-width: 575.98px) { 
            .vertical-align {
                display: flex;
                align-items: center;
                padding-left:0;
                justify-content: baseline;
            
            }

            .headerText{
                text-align:left;
            }
            #devHeader{
                height:320px;
                background-size:cover;
                background: url('/images/devHeaderImage.jpg');
                margin-top:-50px;
            }
            .aboutMeImage{
                margin:0 auto;
                max-width:250px;
            }
            .projectsHeader{
                font-size:10px;
            }
            .appsText{
                font-size:10px;
            }
        }

    </style>
</head>
<body>


<!-- header ejs-->
<nav class="navbar navbar-inverse navbar-fixed-top" style="color:white">
    <div class="container"><!--Container of navbar-->

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navItem">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" class="pull-left" id="MEBrand"></a>
            <a style="color:white" class="navbar-brand lemonMilk" href="/">Mercillo</a>

        </div>

        <!--Items on the right side-->
        <div class="collapse navbar-collapse" id="navItem">
            <ul class="nav navbar-nav navbar-right PTSans">
                <li  class="nav-item"> <a style="color:white" class="nav-link" href="#devHeader">Home</a></li>
                <li  class="nav-item"> <a style="color:white" class="nav-link" href="#aboutSection">About</a></li>
                <li class="nav-item"> <a style="color:white" class="nav-link" href="#portfolioSection">Portfolio</a></li>
                <li class="nav-item"> <a style="color:white" class="nav-link" href="#footerContainer">Contact</a></li>
            </ul>

    </div><!-- end of Container of Navbar-->

  <div id="navItem" data-spy="affix">
    <ul class="nav navbar-nav navbar-right collapse navbar-collapse ">

    </ul>
  </div>
 </div>
</nav><!--Navbar end-->

<section>
    <div class="container-fluid vertical-align" id="devHeader">
        <div class="vertical-align">
            <div class="row textWhite">
                <div class="col-md-12">
                    <div class="lemonMilk" class="headerText">
                        <h2>Marlon Ercillo</h2>
                        <br>
                        <h3> Web Developer</h3>
                        <h3> San Diego, CA</h3>
                        
                        <a href="#aboutSection"><button class="text-center" id="aboutMeButton"> About me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" >
    <div class="" id="aboutSection">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1 col-xs-12">
                <h1 class="PTSansBold" >About Me</h1>
                <h5>
                        My name is Marlon Ercillo but most people know me as Marky. I am a web developer who has professional experience within front end development and a little bit within back end. 
                        Some of my skillsets includes Html, Css, Javascript, jQuery, Bootstrap, .Net, SQL, nodeJS, Express, reactJS, mongoDB, and SQL. I graduated UC Irvine with a bachelor's in Computer Science. However, I went into 
                        Network engineering and security before dipping my feet into web development. Amgonst coding, I am very passionate about music. I love to DJ and take control of the crowd. You can see my mixing portfolio <a href="/dj">here</a>!

                        <br>
                        <br>
                        "Are the habits that you have today, on par with the dreams that you have tomorrow?" -Coach Alan Stein</h5>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="imgContainer">
                    <img class="img-responsive aboutMeImage" src="/images/AboutMeImage.png" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="portfolioSection">
    <div class="" >
        <!-- Carousel -->
        <div id="myCarousel" class="carousel slide">
                <!-- Menu -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol>
                <!-- Items -->
                <div class="carousel-inner PTSans" style="background-color:#141414">
                    <!-- Item 1 -->
                    <div class="item active">
                        <img src="/images/Kia-Stinger.png" />
                        <div class="container">
                            <div class="carousel-caption col-xs-12 col-sm-6">
                                <h1 class="PTSansBold">Projects</h1>
                                <h3 class="projectsHeader">Kia Stinger Experience</h3>
                    
                                <p class="hidden-xs">2018 Kia Stinger Campaign that promoted leads through test drives.</p>
                                <ul class="hidden-xs" style="text-align:left;">
                                    <li>Test Drive goal was exceeded within the first week</li>
                                    <li>Number of Reservations had to be increased to accomodate the program's success</li>
                                    <li>Built-in management system for registrations</li>
                                    <li>Mobile Responsive Website and Design</li>
                                    <li>Integration of Google Analytics and Facebook Pixels</li>

                                </ul>
                            
                            </div>
                        </div>
                    </div>
                    <!-- Item 2 -->
                    <div class="item">
                        <img src="/images/Denver-Autoshow.png"/>
                        <div class="container">
                            <div class="carousel-caption col-xs-12 col-sm-6">
                                <h1 class="PTSansBold">Projects</h1>
                                <h3 class="projectsHeader">2018 Denver Auto Show</h3>
                            
                                <p class="hidden-xs">2018 Denver Auto Show that increased awareness and handraisers through a giveway promotion.</p>
                                <ul class="hidden-xs" style="text-align:left;">
                                    <li>Built using html, css, jquery, and bootstrap</li>
                                    <li>Used SQL for our database of registrations with the use of stored procedures</li>
                                    <li>Integrated with dealer's Facebook pages to allow scalable giveaways</li>
                                    <li>Mobile Responsive Website and Design</li>
                                    <li>Integration of Google Analytics and Facebook Pixels</li>

                                </ul>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls --> 
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a style="background-color:#141414; opacity:100" class="right carousel-control" href="#myCarousel" data-slide="next">
                <span  class="icon-next"></span>
            </a> 
        </div>
    
    </div>
</div>

<div class="container" id="appsSection">
    
    <div class="row" style="padding-bottom:30px">
        <h1 class="PTSansBold text-center">Web Apps and other Projects</h1>
    </div>
    
    <div class="row">
        <div class="col-xs-6">
            <h4 class="text-center PTSansBold">Concentration Game</h4>
            <div class="view zoom overlay">
            
                <img src="/images/Concentration.png" class="img-fluid" style="margin:0 auto" alt="">
                <div class="mask flex-center rgba-grey-strong">
                
                    <ul class="PTSans hidden-xs" style="text-align:left;color:white">
                        <li>Memory Match Game</li>
                        <li>Built with React and nodeJS</li>
                        <li>Async API Calls to decksAPI</li>
                    </ul>
                
                    
                </div>
            </div> 
            <ul class="PTSans visible-xs" style="text-align:left;color:black">
                    <li>Memory Match Game</li>
                    <li>Built with React and nodeJS</li>
                    <li>Async API Calls to decksAPI</li>
                </ul>
            <div class="text-center">
                <a href="https://thawing-escarpment-94189.herokuapp.com/"><button  class="viewMeButton">View Here</button></a>
            </div>
        </div>
        <div class="col-xs-6">
            <h4 class="text-center PTSansBold">Grocery App</h4>
            <div class="view zoom overlay">
                
                <img src="/images/groceryApp.png" class="img-fluid" style="margin:0 auto" alt="">
                <div class="mask flex-center rgba-grey-strong">
                    
                    <ul class="PTSans appsText" style="text-align:left;color:white">
                        <li>Find the cheapest price of groceries in your area</li>
                        <li>Built with React, mongoDB, bootstrap</li>
                        <li>CRUD demonstration</li>
                    </ul>
                    
                </div>
            </div> 
            <ul class="PTSans visible-xs" style="text-align:left;color:black">
                    <li>Find the cheapest price of groceries in your area</li>
                    <li>Built with React, mongoDB, bootstrap</li>
                    <li>CRUD demonstration</li>
            </ul>
            <div class="text-center">
                    <a href="/irvine"><button class="viewMeButton">View Here</button></a>
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h4 class="text-center PTSansBold">CADC Roulette</h4>
            <div class="view zoom overlay">
            
                <img src="/images/Cadc.png" class="img-fluid" style="margin:0 auto" alt="">
                <div class="mask flex-center rgba-grey-strong">
                
                    <ul class="PTSans appsText" style="text-align:left;color:white">
                        <li>Customized Drinking game for a dance team</li>
                        <li>Built with React, bootstrap</li>
                        <li>Responsive Game</li>
                    </ul>
    
                </div>
            </div> 
            <ul class="PTSans visible-xs" style="text-align:left;color:black">
                    <li>Customized Drinking game for a dance team</li>
                    <li>Built with React, bootstrap</li>
                    <li>Responsive Game</li>
                </ul>
            <div class="text-center">
                    <a href="/snowtrip"><button class="viewMeButton">View Here</button></a>
            </div>
        </div>   
        
    

        <div class="col-xs-6">
            <h4 class="text-center PTSansBold">Amazon Alexa Apps</h4>
            <div class="view zoom overlay">
                
                <img src="/images/AmazonAlexa.png" class="img-fluid" style="margin:0 auto" alt="">
                <div class="mask flex-center rgba-grey-strong">
                    
                    <ul class="PTSans appsText" style="text-align:left;color:white">
                        <li>Various Amazon Alexa Skills app</li>
                        <li>Created with nodeJS and AWS</li>
                        <li>Verified for Alexa Skills monthly challenge</li>
                    </ul>
                    <br>
                    
                </div>
            </div> 
            <ul class="PTSans visible-xs" style="text-align:left;color:black">
                    <li>Various Amazon Alexa Skills app</li>
                    <li>Created with nodeJS and AWS</li>
                    <li>Verified for Alexa Skills monthly challenge</li>
                </ul>
            <div class="text-center">
                    <a href="https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Dalexa-skills&field-keywords=mercillo"><button class="viewMeButton">View Here</button></a>
            </div>
        </div>       
        
    </div>
</div>
<footer>
        <% include ../partials/footer %>
</footer>

<script>
    $(window).scroll(function () {
        if ($(window).scrollTop() >= 50) {
        $('.navbar-inverse').css('background','black');
        } else {
        $('.navbar-inverse').css('background','transparent');
        }
        });
</script>
</body>

</html>