<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body>

    <header>
        <% include ../../partials/header %>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          
            ga('create', 'UA-90533692-1', 'auto');
            ga('send', 'pageview', '/leetcodeTwosum');
          
        </script>     
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
         <style>
                .responsive-video {
                    position: relative;
                    padding-bottom: 56.25%;
                    padding-top: 60px; overflow: hidden;
                }
        
        
                .responsive-video iframe,
                .responsive-video object,
                .responsive-video embed {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }            
                </style>          
    </header>
   

    <div class="questionContainer" style="padding-top:50px; padding-bottom:50px;">
        <div class="container">
            <div class="row" style="padding-bottom:30px">
            <h4 class="text-center" style="padding-bottom:30px" >LeetCode - $ProblemName</h4>
            <p>Description</p>
            <br>
            <br>
            <div class="example">
                <p>Example</p>
                <pre class="prettyprint">
                        Given nums = [2, 7, 11, 15], target = 9,
                        
                        Because nums[0] + nums[1] = 2 + 7 = 9,
                        return [0, 1].
                </pre>
            </div>
            </div>
        </div>
    </div>

    <div class="solutionContainer" style="padding-top:50px; padding-bottom:50px;">
            <div class="container">
                <div class="row" style="padding-bottom:30px">
                <h4 class="text-center" style="padding-bottom:30px" >Explanation and Solution</h4>

                <div class="solution">
                    <p>Solution</p>
                    <pre class="prettyprint">

                    </pre>
                </div>

                
                <div class="explanation">

          
                </div>
            </div>
        </div>

    <footer>
        <% include ../../partials/footer %>
    </footer>
    
</body>
</html>